body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: #e7ecf3;
}

header {
    background-color: #000;
    color: #ffffff;
    padding: 20px;
    text-align: center;
}

main {
    padding: 20px;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}

th, td {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
}

th {
    background-color: #f2f2f2;
}

footer {
    background-color: #f2f2f2;
    text-align: center;
    padding: 10px;
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
}

.button {
    display: inline-block;
    background-color: #000;
    color: #ffffff;
    padding: 10px 20px;
    text-decoration: none;
    border-radius: 5px;
    font-weight: bold;
    text-align: center;
    transition: 0.5s all ease;
}

.button:hover {
    background-color: #F1D61B;
    cursor: pointer;
}

/* Estilos del Menú de Navegación */
.nav-wrapper {
    background-color: #000;
    display: flex;
    justify-content: space-between;
    padding: 0 20px;
    align-items: center;
}

.nav-wrapper .brand-logo {
    color: #ffffff;
    text-decoration: none;
    font-size: 1.5rem;
}

ul#nav-mobile {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
}

ul#nav-mobile li a {
    color: #ffffff;
    padding: 10px 15px;
    display: block;
    text-decoration: none;
}

ul#nav-mobile li a:hover {
    background-color: #000;
    border-radius: 5px;
}

/* Responsive */
@media screen and (max-width: 600px) {
    .nav-wrapper {
        flex-direction: column;
    }

    ul#nav-mobile {
        flex-direction: column;
        width: 100%;
    }
}

@media only screen and (max-width: 960px) {
    .img_especial {
        display: none;
    }
    .table-row{
      display: block!important;
    }
    .justify-content-end-custom{
      justify-content: start!important;
    }
  }
  
  .table-container {
    width: 100%;
  }
  
  .table-row {
    display: flex;
    height: 100%;
    background-color: #fff;
    border-radius: 10px;
    margin: 10px 0;
    align-items: center;
    padding: 10px 0;
  }
  
  .table-cell {
    flex: 1;
    padding: 15px;
    text-align: start;
    display: flex;
  }
  
  .table-cell img {
    width: 50px;
    border-radius: 50%;
    margin-right: 10px;
  }
  
  /* Estilos para el encabezado de la "tabla" */
  .table-header {
    display: flex;
    border-radius: 10px;
    margin: 10px 0;
    align-items: center;
    font-weight: 600;
  }
  
  .table-header .table-cell {
    flex: 1;
    padding: 10px;
    text-align: start;
  }

  .page-button{
    color: black;
    padding: 15px 25px;
    border-radius: 5px/2px;
    align-self: center;
    background-color: #F1D61B;
    border: 0.2px solid #F1D61B;
    text-transform: uppercase;
    width: fit-content;
    font-weight: 600;
    transition: 0.5s;
    text-decoration: none;
  }
  
  .page-button:hover{
    color: #F1D61B;
    border: 0.2px solid #000;
    background: #000;
  }

  /*page loading*/
.preloader {
  background-color: #fff;
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 999999;
  -webkit-transition: .6s;
  transition: .6s;
  margin: 0 auto;
}

.preloader img.jump {
  max-height: 100px;
  max-width: 100px;
}

.preoloader-img{
  width: 200px;
  height: auto;
  position: absolute;
  top: 50%;
  transform: translate(-50%, -50%);
  left: 50%;
}