{% extends 'base.html' %}

{% block title %}Red Flag R028{% endblock %}

{% block head_extra %}
<!-- Aquí puedes agregar elementos extra específicos de esta página al head -->
{% endblock %}

{% block content %}
    <h1>Detalle de Red Flag R028</h1>
    <p></p>
    <table>
        <thead>
            <tr>
                <th>Nog Concurso</th>
                <th>Cantidad</th>
            </tr>
        </thead>
        <tbody>
            {% for flag in red_flags %}
            <tr>
                <td>{{ flag['nogConcurso'] }}</td>
                <td>{{ flag['count'] }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock %}
