{% extends 'base.html' %}

{% block title %}Red Flag Red03{% endblock %}

{% block head_extra %}
<!-- Aquí puedes agregar elementos extra específicos de esta página al head -->
{% endblock %}

{% block content %}
    <div style="display: flex;">
        <h1 style="margin-right: 20px;">Detalle de Red Flag Red03</h1>
        <a class="page-button" href="/">Ver más Red Flags</a>
    </div>
    <p>El principal objetivo de esta red flag es resaltar posibles ineficiencias o irregularidades en el proceso de adjudicación de contratos. Un retraso significativo puede ser indicativo de varios problemas, tales como:
    </p>
    <ul>
        <li>Disputas Legales: Puede que existan impugnaciones o reclamaciones por parte de los licitantes no favorecidos, lo que podría retrasar el proceso de formalización.</li>
        <li>Reconsideración de Decisiones: La entidad puede estar reconsiderando la adjudicación debido a la detección de errores en el proceso de evaluación o en la oferta del adjudicatario.</li>
        <li>Negociaciones Inapropiadas: Después de la decisión de adjudicación, podrían surgir negociaciones no éticas que busquen modificar términos del contrato de manera ventajosa para alguna de las partes.</li>
        <li>Problemas Administrativos o Burocráticos: Retrasos en la formalización también pueden ser resultado de ineficiencias administrativas dentro de la entidad contratante.</li>
    </ul>

    <div class="table-container">
        <div class="table-header">
            <div class="table-cell" style="flex:0.1">Nog Concurso</div>
            <div class="table-cell" style="flex:0.3">Descripción</div>
            <div class="table-cell" style="flex:0.3">Nombre de la entidad compradora</div>
            <div class="table-cell" style="flex:0.1">Fecha de Última Adjudicación</div>
            <div class="table-cell" style="flex:0.1">Fecha de Adjudicación</div>
            <div class="table-cell" style="flex:0.1">Días de Retraso</div>
        </div>
        <div class="table-body">
            {% for flag in red_flags %}
            <div class="table-row">
                <div class="table-cell" style="flex:0.1">{{ flag['nogConcurso'] }}</div>
                <div class="table-cell" style="flex:0.3">{{ flag['descripcion'] }}</div>
                <div class="table-cell" style="flex:0.3">{{ flag['entidadCompradora'] }}</div>
                <div class="table-cell" style="flex:0.1">{{ flag['fechaDeUltimaAdjudicacion'] }}</div>
                <div class="table-cell" style="flex:0.1">{{ flag['fechaDeAdjudicacion'] }}</div>
                <div class="table-cell" style="flex:0.1">{{ flag['dias_de_retraso'] }}</div>
            </div>
            {% endfor %}
        </div>
    </div>

{% endblock %}
