{% extends 'base.html' %}

{% block title %}Red Flag Red02{% endblock %}

{% block head_extra %}
<!-- Aquí puedes agregar elementos extra específicos de esta página al head -->
{% endblock %}

{% block content %}
    <div style="display: flex;">
        <h1 style="margin-right: 20px;">Detalle de Red Flag Red02</h1>
        <a class="page-button" href="/">Ver más Red Flags</a>
    </div>
    <p>La nueva señal de alerta o "red flag" que hemos desarrollado tiene como objetivo identificar aquellos concursos de contratación pública cuya duración, es decir, el periodo entre la fecha de publicación del concurso y la fecha límite para la recepción de ofertas, es sospechosamente corta, específicamente menos de dos días. Esta métrica es particularmente útil para resaltar procesos de licitación que podrían estar diseñados para restringir la competencia al no proporcionar a los posibles licitantes suficiente tiempo para preparar y presentar ofertas competitivas.</p>
    <p>Una duración tan corta en un proceso de licitación puede ser indicativa de varias prácticas preocupantes, como favoritismo hacia ciertos proveedores que ya estaban informados del concurso con antelación, o un intento de limitar la participación en la licitación a un círculo cerrado de oferentes, reduciendo así la transparencia y la equidad del proceso de contratación. Tales prácticas no solo van en contra de los principios de competencia justa y abierta, sino que también pueden resultar en que la entidad contratante no obtenga el mejor valor por su dinero, dado que la competencia limitada frecuentemente conduce a precios más altos y a una menor calidad en los bienes o servicios adquiridos.</p>
    
    <div class="table-container">
        <div class="table-header">
            <div class="table-cell" style="flex:0.1">Nog Concurso</div>
            <div class="table-cell" style="flex:0.3">Descripción</div>
            <div class="table-cell" style="flex:0.3">Nombre de la entidad compradora</div>
            <div class="table-cell" style="flex:0.1">Fecha de Publicación</div>
            <div class="table-cell" style="flex:0.1">Fecha de Cierre de Concurso</div>
            <div class="table-cell" style="flex:0.1">Duración del Concurso en días</div>
        </div>
        <div class="table-body">
            {% for flag in red_flags %}
            <div class="table-row">
                <div class="table-cell" style="flex:0.1">{{ flag['nogConcurso'] }}</div>
                <div class="table-cell" style="flex:0.3">{{ flag['descripcion'] }}</div>
                <div class="table-cell" style="flex:0.3">{{ flag['entidadCompradora'] }}</div>
                <div class="table-cell" style="flex:0.1">{{ flag['fechaDePublicacion'] }}</div>
                <div class="table-cell" style="flex:0.1">{{ flag['fechaCierreRecepcionOfertas'] }}</div>
                <div class="table-cell" style="flex:0.1">{{ flag['duracion_concurso_dias'] }}</div>
            </div>
            {% endfor %}
        </div>
    </div>
    
{% endblock %}
