{% extends 'base.html' %}

{% block title %}Red Flag Red05{% endblock %}

{% block head_extra %}
<!-- Aquí puedes agregar elementos extra específicos de esta página al head -->
{% endblock %}

{% block content %}
    <div style="display: flex;">
        <h1 style="margin-right: 20px;">Detalle de Red Flag Red05</h1>
        <a class="page-button" href="/">Ver más Red Flags</a>
    </div>
    <p>Está diseñada para identificar concursos de contratación pública donde el monto adjudicado se aleja significativamente del promedio de montos adjudicados para concursos similares dentro de una misma categoría. Este análisis permite detectar casos en los que el monto adjudicado puede ser inusualmente alto o bajo en comparación con lo que es típico para ese tipo de contrato, lo que podría señalar varias situaciones que requieren atención.</p>
    <p>El objetivo detrás de esta señal de alerta es doble. Por un lado, busca asegurar la eficiencia en la asignación de recursos públicos, garantizando que los montos adjudicados reflejen de manera justa el valor de mercado de los bienes o servicios contratados. Por otro lado, sirve como mecanismo de control para prevenir y detectar posibles irregularidades, como sobreprecios, subprecios, o prácticas anticompetitivas que podrían indicar colusión entre oferentes, favoritismo hacia ciertos proveedores, o incluso corrupción.</p>
    
    <div class="table-container">
        <div class="table-header">
            <div class="table-cell" style="flex:0.1">Nog Concurso</div>
            <div class="table-cell" style="flex:0.3">Descripción</div>
            <div class="table-cell" style="flex:0.3">Categoría</div>
            <div class="table-cell" style="flex:0.1">Monto</div>
            <div class="table-cell" style="flex:0.1">Promedio de Montos en esta categoría</div>
            <div class="table-cell" style="flex:0.1">Desviación Porcentual</div>
        </div>
        <div class="table-body">
            {% for flag in red_flags %}
            <div class="table-row">
                <div class="table-cell" style="flex:0.1">{{ flag['nogConcurso'] }}</div>
                <div class="table-cell" style="flex:0.3">{{ flag['descripcion'] }}</div>
                <div class="table-cell" style="flex:0.3">{{ flag['categorias'] }}</div>
                <div class="table-cell" style="flex:0.1">{{ flag['monto'] }}</div>
                <div class="table-cell" style="flex:0.1">{{ flag['promedio_monto'] }}</div>
                <div class="table-cell" style="flex:0.1">{{ flag['desviacion_porcentual'] }}</div>
            </div>
            {% endfor %}
        </div>
    </div>

{% endblock %}
