{% extends 'base.html' %}

{% block title %}Red Flags{% endblock %}

{% block content %}
    <h1>Red Flags disponibles</h1>

    <table>
        <thead>
            <tr>
                <th>id</th>
                <th>Nombre</th>
                <th>Descripción</th>
                <th>Red Flag</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>1.</td>
                <td>Red01</td>
                <td>Periodo entre fecha de publicación y fecha de cierre inusualmente corto.</td>
                <td><a href="/red_flags/red01" class="button">Ver Red Flag Red01</a></td>
            </tr>
            <tr>
                <td>2.</td>
                <td>Red02</td>
                <td>Periodo entre fecha de publicación y fecha de cierre inusualmente largo.</td>
                <td><a href="/red_flags/red02" class="button">Ver Red Flag Red02</a></td>
            </tr>
            <tr>
                <td>3.</td>
                <td>Red03</td>
                <td>Retraso entre la primera fecha adjudicación y la última fecha de adjudicación.</td>
                <td><a href="/red_flags/red03" class="button">Ver Red Flag Red03</a></td>
            </tr>
            <tr>
                <td>4.</td>
                <td>Red04</td>
                <td>Concursantes Inusuales por Baja Frecuencia de Participación.</td>
                <td><a href="/red_flags/red04" class="button">Ver Red Flag Red04</a></td>
            </tr>
            <tr>
                <td>5.</td>
                <td>Red05</td>
                <td>Variabilidad Atípica en Montos de Adjudicación por Categoría</td>
                <td><a href="/red_flags/red05" class="button">Ver Red Flag Red05</a></td>
            </tr>
        </tbody>
    </table>

    <p>Datos sacados de: <a href="https://datos.minfin.gob.gt/" target="_blank">MINFIN</a></p>
{% endblock %}
